.contact {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: auto;
  padding: 4rem;
  z-index: 4;

  overflow: hidden;
}
.contact .formcontainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.formcontainer .form {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}
.form .row {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  gap: 3rem;
}
@media only screen and (max-width: 920px) {
  .form .row {
    flex-direction: column;
  }
}
.row .inputwrapper {
  position: relative;
  width: 100%;
}
.inputwrapper .formfield {
  border: solid 1px var(--color-neutral-light-2);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: var(--color-neutral-light-2);
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 1.25em;
  text-transform: capitalize;
  width: 100%;
}
.inputwrapper .inputlabel {
  position: absolute;
  left: 16px;
  color: var(--color-neutral-light-2);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 300;
  font-size: 1.25em;
}
.formfield:focus,
.formfield:valid {
  outline: none;
  border: 2px solid var(--color-neutral-light-2);
}
.formfield:focus ~ label,
.formfield:valid ~ label {
  transform: translateY(-50%) scale(0.7);
  background-color: var(--neutral-dark-absolute);
  padding: 0 6px;
  color: var(--color-neutral-light-2);
}
.form .fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  justify-content: space-between;
  border: none;
  box-shadow: none;
  appearance: none;
  gap: 1.5rem;
}
@media only screen and (max-width: 920px) {
  .form .fieldset {
    flex-direction: column;
  }
}
.fieldset legend {
  display: flex;
  position: relative;
  flex: row;
  flex-wrap: nowrap;
  width: fit-content;
  height: fit-content;
  color: var(--color-neutral-light-2);
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.fieldset input {
  display: none;
}
.fieldset label {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;

  cursor: pointer;
}
.fieldset label p {
  color: var(--color-neutral-light-2);
  font-weight: 300;
  font-size: 1em;
}
.fieldset label button {
  display: flex;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: none;
  border: 1px solid var(--color-primary);
  outline: none;
  box-shadow: none;
  appearance: none;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.fieldset label button div {
  scale: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--color-primary);

  transition: scale 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.fieldset label:hover button div {
  scale: 1;
}
.fieldset input[type="radio"]:checked + label button div {
  scale: 1;
}
.form .messagewrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 8rem;
}
@media only screen and (max-width: 920px) {
  .form .messagewrapper {
    height: fit-content;
  }
}
.messagewrapper textarea {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-neutral-light-2);
  border-radius: 16px;
  outline: none;
  box-shadow: none;
  appearance: none;
  padding: 1rem;
  color: var(--color-neutral-light-2);
  font-size: 1em;
  font-weight: 400;
  resize: none;
  background: none;
}
@media only screen and (max-width: 920px) {
  .messagewrapper textarea {
    height: 15rem;
  }
}
.messagewrapper textarea::placeholder {
  font-size: 1em;
  color: var(--color-neutral-light-2);
  font-weight: 300;
}
.messagewrapper textarea:focus {
  outline: none;
  border: 2px solid var(--color-neutral-light-2);
}
.messagewrapper .textareacounter {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 12px;
  font-weight: 300;
}
.form .submit {
  display: flex;
  width: fit-content;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  background-color: var(--color-primary);
  outline: none;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: var(--font-semibold);

  gap: 12px;

  cursor: pointer;
}
@media only screen and (max-width: 640px) {
  .form .submit {
    width: 100%;
  }
}
.form .submit:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 4px;
}
.form .submit svg {
  font-size: 1.5em;
  color: var(--neutral-dark-absolute);
}
.form[data-isstatus="sending..."] .submit svg {
  animation: sending 0.75s linear infinite;
}
@keyframes sending {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.form[data-isstatus="sent"] .submit svg {
  animation: sent 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.7s both;
}
@keyframes sent {
  0% {
    stroke-dashoffset: 21.79899024963379px;
    stroke-dasharray: 21.79899024963379px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 21.79899024963379px;
  }
}
.form .submit:disabled {
  cursor: default;
  background-color: var(--neutral-dark-300);
}
